<div class="tabsNavtitle"> Create Chit</div>

<div class="chit-create-tbl">
    <div class="row">
        <div class="col-sm-5">Name :</div>
        <div class="col-sm-7"><input type="text" placeholder="Enter Name" /></div>
    </div>

    <div class="row">
        <div class="col-sm-5">Start Date :</div>
        <div class="col-sm-7"><input type="text" placeholder="Enter Name" /></div>
    </div>

    <div class="row">
        <div class="col-sm-5">Period :</div>
        <div class="col-sm-7">
            <select>
                <option>-Select Period-</option>
                <option>1 Year</option>
                <option>2 Year</option>
                <option>3 Year</option>
                <option>4 Year</option>
                <option>5 Year</option>
              </select>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-5">Amount :</div>
      <div class="col-sm-7">
        <select>
          <option>-Select Amount-</option>
          <option>50000</option>
          <option>100000</option>
          <option>150000</option>
          <option>200000</option>
          <option>250000</option>
          <option>300000</option>
          <option>350000</option>
          <option>400000</option>
          <option>450000</option>
          <option>500000</option>
        </select>
      </div>
    </div>
      <div class="row">
          <div class="col-sm-5"></div>
          <div class="col-sm-7"> <input type="submit" value="Submit" /> </div>
        </div>
</div>