@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');*/
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
.svcf-maincontent{ width: 100%; position: absolute; left: 0px; top: 0px;}
.svcf-maincontent .container{ max-width:1000px; margin: auto; float: none;}
.svcf-menu {background-color: #273748; font-family: 'Ubuntu', sans-serif;}
.svcf-content{background-color: #ffffff; font-family: 'Ubuntu', sans-serif;  width: 100%;}
.svcf-copyright{background-color: #273748; color:#c2d1e3; font-family: 'Ubuntu', sans-serif; text-align: center; font-size: 14px; margin: 0px -15px; line-height: 40px;}



.chit-header{background-color:#fff;height:64px;position:fixed;top:0;right:0;left:0;width:100%;box-shadow:0 1px 2px #999;z-index:999}
.chit-navigation{position:fixed; background-color:#46a29f;width:201px;border:thin solid #c4c4c4;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;height:100%;bottom:0;left:0;top:0}
.chit-maincontent{text-align:center;position:absolute;left:203px;top:60px;bottom:0;right:3px;background-color:#ebeff2;overflow-y:auto}



.smart-chit-login,.smart-chit-logo{ max-width: 400px; margin: auto;}
.smart-chit-login .tab-pane{ background-color: #fff;}
.smart-chit-logo { text-align: center;}
.smart-chit-logo img { margin:50px auto 30px; padding-left: 50px;}




.inputWithIcon select,input[type=text],input[type=password]{width:96%;border:2px solid #dee2e6;border-radius:4px;margin:8px 2%;outline:0;padding:8px;box-sizing:border-box;transition:.3s}
.inputWithIcon input[type=text],.inputWithIcon input[type=password]{padding-left:40px}
.inputWithIcon{position:relative}.inputWithIcon i{position:absolute;left:0;font-size:20px;top:8px;padding:9px 8px 9px 20px;color:#aaa;transition:.3s}
.smart-login-btn{ text-align: center; padding: 10px 0px 20px 0px;}

